:root {
  --color-bright-gold: #FAE606;
  --color-light-gold: #FEAF31;
  --color-medium-gold: #D49A0C;
  --color-dark-gold: #B17434;
  --color-light-green: #498934;
  --color-medium-green: #346E24;
  --color-dark-green: #1F291E;
  --color-light-blue: #8D9CFF;
  --color-medium-blue: #184E99;
  --color-dark-blue: #103364;
  --color-light-red: #DF4909;
  --color-medium-red: #992b21;
  --color-dark-red: #731c13;
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: var(--color-dark-green);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-dark-green);
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.05) 3px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 3px, transparent 1px);
  background-size: 100px 100px;
}

#root {
  height: 100vh;
  background-color: var(--color-dark-green);
  background-image: 
    radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(rgba(255, 255, 255, 0.05) 3px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 3px, transparent 1px);
  background-size: 100% 100%, 100px 100px, 100px 100px;
  position: relative;
}
